*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    text-align: center;
}
h1,h2{
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}
.btn{
    width: 180px;
    height: 180px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 1.5rem;
}